// @import '../../mixins.scss';
@use "../../mixins" as *;

.main_section {
  margin-top: 30px;

  @include tablet {
    margin-top: 40px;
  }

  @include mobile {
    margin-top: 83px;
  }
}

.title {
  font-weight: 900;
  color: var(--white);
  text-transform: uppercase;

  width: 100%;

  background-color: var(--main);
  padding: 20px;
  border-radius: 200px;

  text-align: center;

  @include tablet {
    padding: 9px 0;
    border-radius: 123px;
    font-size: 19px;
    font-weight: 800;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  margin-top: 30px;

  @include tablet {
    gap: 18px;
  }

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.item_img {
  border-radius: 10px;
  object-fit: cover;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 14px;
  padding: 20px;

  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

  @include tablet {
  }

  @include mobile {
  }
}

.item_title {
  font-weight: 700;
  color: var(--main);
  @include adaptiv-value("font-size", 20, 16);

  margin-top: 20px;

  @include tablet {

  }

  @include mobile {
  }
}

.arrow {
  position: absolute;
  top: 30px;
  right: 30px;

  @include tablet {
  }

  @include mobile {
  }
}
