.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    background: transparent;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    border: 1px solid #FFFFFF;
    transition: background 0.5s, border-color 0.5s; 
    cursor: pointer;
}

.item input[type="checkbox"]:checked {
    background: var(--main); 
    border-color: #FFFFFF; 
}

.item input[type="checkbox"]::after {
    content: "✔";
    color: var(--white);
    position: absolute;
    top: -2px;
    left: 3px;
    width: 0;
    height: 0;
    font-size: 15px;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
    opacity: 0;
}

.item input[type="checkbox"]:checked::after {
    width: 20px; 
    height: 20px;
    opacity: 1; 
}

.item label {
    color: var(--another-gray);
}
