.form_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 0 10px 0;
}

.form_title {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--main);
    max-width: 200px;
}

.btn_save_wrapper {
    min-width: 173px;
}


.form_wrapper {
    margin-bottom: 20px;
}
