@import '../../mixins.scss';

.main_section {
    margin-top: 50px;
}


.top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 0px;
}

.top_wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
}

.table {
    position: sticky;
    top: 50px;
    margin-top: 10px;
}

.name_object {
    font-weight: 700;
    text-transform: uppercase;
    @include adaptiv-value("font-size", 20, 15);
    color: var(--main);
}

.title_table {
    position: absolute;
    top: 35%;
    left: 1%;
    font-weight: 500;
}

.wrapper_day {
    position: relative;
    background-color: var(--main);
    padding: 20px;
    border-radius: 10px;


}
.wrapper_time {
    background-color: var(--gray);
    padding: 20px;
    border-radius: 10px;


}

.table_header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;


    color: var(--white);
}

.day_list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    text-align: center;
    gap: 30px;

    // gap: 150px;

    width: 100%;
}

.item_table {
    // margin-left: 50%;
    display: flex;
    gap: 10px;
    width: 100%;
}



.day_item {
    font-weight: 500;
    
}

.time_list {
    display: flex;
}

.workers_list {
    margin-top: 10px;
}

.item_data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.workers_item_wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;

    border-radius: 10px;
    border: 1px solid var(--another-gray);

    padding: 25px;
    margin-top: 10px;    
    margin-bottom: 10px;    

}

.sum {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 15px 20px;
    background-color: var(--main);
    border-radius: 10px;

    margin-top: 20px;
}

.sum_detail {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sum_detail p:first-child {
    color: var(--dark-gray);
}

.sum_detail p:last-of-type {
    color: var(--white);
}

.sum_wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sum_month {
    color: var(--dark-gray);
}


.sum_text {
    color: var(--white);
}

.pagination {
    position: absolute;
    top: 35%;
    right: 10%;

    display: flex;
    gap: 10px;
}

.time_item {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
    background-color: var(--white);
    color: var(--main);
    padding: 5px;
    border-radius: 10px;
}


.workers_item {
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 200px;
}

.worker_data {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.edit {
    width: 100%;
}

