@import '../../mixins.scss';


.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
}

.name_object {
    font-weight: 700;
    text-transform: uppercase;
    @include adaptiv-value("font-size", 20, 15);
    color: var(--main);
}