.btn {
    cursor: pointer;
    
    background-color: var(--another-gray);
    padding: 7px 10px;
    border-radius: 6px;
    font-weight: 400;
}

.btn p {
    color: var(--gray);
    font-size: 10px;
}