// @import './mixins.scss';
@use './mixins' as *;

:root {
  color-scheme: light dark;

  --font-family: "Roboto", sans-serif;

  /* переменные панели */
  --main: #1F2433;
  --white: #FFFFFF;
  --blue: #063462;
  --gray: #9FA9BC;
  --light-gray: #E8ECF4;
  --light-blue: #C9D5FF;
  --dark-gray: #687182;
  --another-gray: #BAC4D8;
  --light-green: #D4F4C6;
  --green: #8ec376;
  --light-yellow: #FFEED4;
  --yellow: #F2B174;
  --light-pink: #FFD5D5;

  /* текст шрифтов */
  --text-white: var(--white);
  --text-black: var(--black);

  /* переменные медиа*/
  --min-width: 768px;
  --max-width: 1440px;
}

#root {
  margin: 0 auto;
}

.page-wrapper {
  // max-width: 1800px;
  // padding: 0 20px;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}


.border_top_gray {
  height: 100%;
  background-color: var(--another-gray);
  width: 1px;
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto'), url(./fonts/Roboto-Thin/Roboto-Thin.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), url(./fonts/Roboto-Regular/Roboto-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'), url(./fonts/Roboto-Medium/Roboto-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: local('Roboto'), url(./fonts/Roboto-Regular/Roboto-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'), url(./fonts/Roboto-Bold/Roboto-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  src: local('Roboto'), url(./fonts/Roboto-Bold/Roboto-Bold.woff2) format('woff2');
}



html,
body {
  scroll-behavior: smooth;
  font-family: var(--font-family);
  color: var(--main);
  background-color: var(--white);

  margin: 0;
  padding: 0;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}





/* Reset and base styles  */


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}



label {
  cursor: pointer;
}

legend {
  display: block;
}


.flex {
  display: flex;
  flex-direction: column;
}

.react-datepicker {
  font-family: var(--font-family) !important;
  padding: 50px;
  border: none !important;
  background: var(--white) !important;

  border-radius: 20px !important;
}

.react-datepicker-wrapper {
  display: flex;
  justify-content: start;
  text-align: start;
  width: 100%;
  background: var(--light-gray);
  padding: 10px 10px !important;
  border-radius: 10px;

}

.react-datepicker-wrapper input {
  height: 100% !important;
}

.react-datepicker__header {
  background-color: var(--main) !important;
  padding: 20px 20px 0px 20px !important;
  border-bottom: none !important;

  border-radius: 20px !important;
}

.react-datepicker__current-month {
  margin-bottom: 20px;
  color: var(--white) !important;
}

.react-datepicker__day-names {
  display: flex !important;
  justify-content: center !important;
  gap: 10px !important
}


.react-datepicker__day-names>* {
  color: #687182 !important;
}

.react-datepicker__month-container {
  background-color: var(--main);
  border-radius: 20px;
}

.react-datepicker__day--selected {
  border-radius: 50% !important;
  background-color: #687182 !important;
}

.react-datepicker__day {
  color: var(--white) !important;
  font-weight: 500 !important;
}

.react-datepicker__week {
  display: flex !important;
  justify-content: center !important;
  gap: 10px !important;
}

.react-datepicker__day.react-datepicker__day--outside-month {
  color: #687182 !important;
}

.react-datepicker__day:not([aria-disabled=true]):hover {
  background-color: var(--another-gray) !important;
  border-radius: 50% !important;
}

.react-datepicker__navigation {
  border-radius: 50% !important;
  top: 70px !important;
}

.react-datepicker__navigation-icon--next::before {
  left: -5px !important;
}

.react-datepicker__navigation-icon--previous::before {
  right: -4px !important;
}

.react-datepicker__navigation-icon--next::before {
  top: 7px !important;
}

.react-datepicker__navigation--next {
  right: 78px !important;
}

.react-datepicker__navigation--previous {
  left: 78px !important;
}

.react-datepicker__navigation--next,
.react-datepicker__navigation--previous {
  border-radius: 50px !important;
  background-color: #2E354E !important;
}

.react-datepicker__view-calendar-icon input {
  font-weight: 500;
  text-transform: capitalize;
  padding-left: 40px !important;
  width: 100%;
}

.react-datepicker__input-container.react-datepicker__view-calendar-icon svg {
  scale: 1.7;
}



.react-datepicker__day--highlighted {
  border-radius: 50% !important;
  background-color: var(--another-gray) !important;
}


.react-datepicker__day--keyboard-selected {
  border-radius: 50% !important;
  background-color: var(--another-gray) !important;
}


.sticky-header {
  background-color: var(--white);
  z-index: 1000;
}

.date-wrapper {
  width: 100%;

  background-color: var(--light-gray);
  text-align: start;

  border-radius: 20px;

  padding: 10px;
}

.working {
  display: block;
  background-color: var(--light-green) !important;
}

.notWorking {
  display: block;
  background-color: var(--light-yellow);
}

.dayOf {
  display: block;
  background-color: var(--light-pink);
}

.empty {

}


