@import './mixins.scss';

:root {
  color-scheme: light dark;

  --font-family: "Roboto", sans-serif;

  /* переменные панели */
  --main: #1F2433;
  --white: #FFFFFF;
  --blue: #063462;
  --gray: #9FA9BC;
  --light-gray: #E8ECF4;
  --light-blue: #C9D5FF;
  --another-gray: #BAC4D8;
  --light-green: #D4F4C6;
  --light-yellow: #FFEED4;
  --light-pink: #FFD5D5;

  /* текст шрифтов */
  --text-white: var(--white);
  --text-black: var(--black);

  /* переменные медиа*/
  --min-width: 768px;
  --max-width: 1440px;
}

#root {
  margin: 0 auto;
}

.page-wrapper {
  // max-width: 1800px;
  // padding: 0 20px;
  margin: 0 auto;
}
.relative {
  position: relative;
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto'), url(./fonts/Roboto-Thin/Roboto-Thin.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), url(./fonts/Roboto-Regular/Roboto-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'), url(./fonts/Roboto-Medium/Roboto-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: local('Roboto'), url(./fonts/Roboto-Regular/Roboto-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'), url(./fonts/Roboto-Bold/Roboto-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  src: local('Roboto'), url(./fonts/Roboto-Bold/Roboto-Bold.woff2) format('woff2');
}



html,
body {
  scroll-behavior: smooth;
  font-family: var(--font-family);
  color: var(--main);
  background-color: var(--white);

  margin: 0;
  padding: 0;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}


/* Reset and base styles  */


*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}



label {
	cursor: pointer;
}

legend {
	display: block;
}
