@use "../../../mixins" as *;

.btn_save {
  cursor: pointer;
  background-color: var(--green);
  color: var(--white);

  padding: 10px 45px;
  border-radius: 100px;
  width: 100%;

  transition: opacity 0.2s ease-in-out;

  & {
    @include tablet {
      font-size: 12px;
      padding: 5px 17px;
    }
  }

  & {
    @include mobile {

    }
  }
}

.btn_save:hover {
  opacity: 0.6;
}
