.smena_btn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 12px;
    border-radius: 6px;
    min-width: 110px;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    /* Прозрачная граница по умолчанию */
}

.hidden {
    display: none;
}

.smena_btn svg path {
    transition: all 0.3s ease-in-out;
}

.night {
    border-color: var(--main);
    /* Граница для ночи */
    color: var(--main);
}

.day {
    border-color: var(--yellow);
    color: var(--yellow);
}

.active_white {
    color: var(--white);
    background-color: var(--yellow);
}

.active_black {
    color: var(--white);
    background-color: var(--main);
}

input[type="checkbox"] {
    background-color: var(--main);
    color: var(--white);
    border-color: var(--main);
}

/* Активное состояние для ночи */
input[type="checkbox"]#night:checked+.night {
    background-color: var(--main);
    color: var(--white);
    border-color: var(--main);
}

/* Активное состояние для дня */
input[type="checkbox"]#day:checked+.day {
    background-color: var(--yellow);
    color: var(--white);
    border-color: var(--yellow);
}