.smena_btn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

    padding: 12px;
    
    border-radius: 6px;
    min-width: 110px;

    transition: all .3s ease-in-out;
}

.smena_btn svg path {
    transition: all .3s ease-in-out;
}

.night {
    border: 1px solid var(--main);
    color: var(--main);
}


.day {
    border: 1px solid var(--yellow);
    color: var(--yellow);
}

.night.active {
    background-color: var(--main);
    color: var(--white);
}

.day.active {
    color: var(--white);
    background-color: var(--yellow);
}


.night.active svg path, 
.day.active svg path {
    fill: var(--white);
}